/* MAIN STYLES */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* LOGO */

.logo-dark {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-light {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* NAVBAR */

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}

.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contact-link {
  color: inherit;
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* HERO SECTION */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1ERO 0.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
}

.button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin: 48px auto;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  text-align: center;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
}

/* BENEFITS SECTION */

.benefits-section {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
}

.benefits-card {
  max-width: 264px;
}

.benefits-title {
  margin-bottom: 8px;
}

/* TEAM SECTION */

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-card {
  background-color: #fff;
  max-width: 264px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
}

.team-member {
  margin-top: 32px;
  margin-bottom: 8px;
}

.our-portfolio-section {
  padding: 120px 0;
}

/* PORTSOLIO SECTION */

.our-portfolio-title {
  margin-bottom: 72px;
}

.portfolio-card {
  max-width: 360px;
  padding-bottom: 32px;
}

.portfolio-sub-title {
  margin: 32px 0 8px 16px;
}

.portfolio-text {
  margin-left: 16px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
