/* Main styles */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Logo */

.logo-dark {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-light {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* Navbar */

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}
.contact-link {
  color: inherit;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero Section */

.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
}

/* Team Section */

.our-team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #fff;
}
/* Footer */

.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}
